<html>
    <head>
        <link rel="stylesheet" href="/static/home.css">
        <title>米惠网</title>
    </head>
    <body>
        <div class="main_content">
            <div class="main_left">
                <div class="shop_menu">
                    {% for goods_shop in goods_shops %}
                        {% module Goods_shops(goods_shop) %}
                    {% end %}
                </div>
                {% for goods_summary in goods_summarys %}
                    {% module Goods_summarys(goods_summary) %}
                {% end %}
                <div class="page_index">
                    {% module Page_index(page_count,page) %}
                </div>
            </div>
            <div class="main_right">
                <div class="goods_last_updates">
                    {% for goods_last_update in goods_last_updates%}
                        {% module Goods_last_updates(goods_last_update) %}
                    {% end %}
                </div>
                <div class="goods_counts">
                    {% for goods_count in goods_counts  %}
                        {% module Goods_counts(goods_count) %}
                    {% end %}
                </div>
            </div>
        </div>
    </body>
</html> 
